#
# Copyright 2012-2019 Clayton Smith
#
# This file is part of Ottawa Bus Follower.
#
# Ottawa Bus Follower is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 3, or (at
# your option) any later version.
#
# Ottawa Bus Follower is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty
# of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Ottawa Bus Follower; see the file COPYING.  If not, see
# <https://www.gnu.org/licenses/>.
#
.gradle
/local.properties
/secure.properties
/.idea/caches
/.idea/codeStyles
/.idea/deploymentTargetDropDown.xml
/.idea/encodings.xml
/.idea/libraries
/.idea/migrations.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
build/
/app/src/*/res/values/api_keys.xml
pin_*.png
stop.png
refresh.png
launcher_icon.png
/google-play-icon.png
/gtfs/*.zip
/app/src/main/assets/db
*.iml
*.apk
