<?xml version="1.0" encoding="utf-8"?>
<!--

Copyright 2012-2014 Clayton Smith

This file is part of Ottawa Bus Follower.

Ottawa Bus Follower is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License as
published by the Free Software Foundation; either version 3, or (at
your option) any later version.

Ottawa Bus Follower is distributed in the hope that it will be
useful, but WITHOUT ANY WARRANTY; without even the implied warranty
of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Ottawa Bus Follower; see the file COPYING.  If not, see
<http://www.gnu.org/licenses/>.

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.argilo.busfollower"
    android:versionCode="14"
    android:versionName="1.1.11" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".BusFollowerApplication"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name" >
        <activity android:name=".StopChooserActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapChooserActivity"
            android:label="@string/app_name" />
        <activity android:name=".RouteChooserActivity"
            android:label="@string/app_name" />
        <activity android:name=".BusFollowerActivity"
            android:label="@string/app_name"
            android:theme="@style/ThemeSelector" />
        <uses-library android:name="com.google.android.maps" />
    </application>

</manifest>
