debug.google_maps_api_key=APIKEY
debug.oc_transpo_application_id=APPID
debug.oc_transpo_application_key=APPKEY

release.google_maps_api_key=APIKEY
release.oc_transpo_application_id=APPID
release.oc_transpo_application_key=APPKEY

key.store=../android-release.keystore
key.store.password=mysecretpassword
key.alias=release
key.alias.password=mysecretpassword
